[Global]
user = "{{ k8_vcenter_username }}"
password = "{{ k8_vcenter_password }}"
port = "443"
insecure-flag = "1"

[VirtualCenter "{{ vcenter_hostname }}"]
datacenters = "{{ vsphere_datacenter }}"

[Workspace]
server = "{{ vcenter_hostname }}"
datacenter = "{{ vsphere_datacenter }}"
default-datastore = "{{ k8_default_datastore }}"
resourcepool-path = "{{ k8_default_cluster }}/Resources"
folder = "{{ k8_default_folder }}"

[Disk]
scsicontrollertype = pvscsi

[Network]
public-network = "{{ k8_public_network }}"